*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  height: 800px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

/* .content */
.content {
  display: flex;
  inline-size: 1140px;
  padding: 133px 30px;
  gap: 30px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  height: 298px;
  width: 399px;
  margin-top: 23px;
}

.content__list-item {
  inline-size: 100%;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  /* text-decoration: none; */
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration-line: none ;
  transition: background-color 0.6s;
  outline: none;
}

.content__card-link:focus {
  outline: 1px solid #FFFFFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  cursor: pointer;
  background-color: #545050;
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;

}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px; 
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

/* .result */
.result {
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  object-fit: cover;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

/* .search-form */

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 35px; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  
}


.fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  inline-size: 100%;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 4px;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
  inline-size: 212px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox:hover {
  background-color: #545050;
  border-color: #fff;
}

.search-form__textfield {
  border: none;
  width: 225px;
  padding: 2.5px 13px 2.5px 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: 21.6px;
  font-weight: inherit;
  height: 27px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  appearance: none;

}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.search-form__label:focus {
  outline: none;
  outline-offset: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  margin: auto;
  background: #FFFFFF;
}

.search-form__checkbox:focus {
  outline: none;
  outline-offset: 0;
}

.search-form__checkbox:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 0;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  margin: auto;
  text-decoration: none;
}

.button {
  display: flex;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  height: 34px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 194px;
  margin-top: 20px;
}

.button:focus {
  outline: 1px solid #FFFFFF;
}

.button:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
  background-color: #545050;
  color: #fff;
}

.button:active {
  background-color: #545050;
  color: #fff;
  outline: none; 
}

.more-button {
  width: 384px;
}

.more-button:focus {
  outline: 1px solid #FFFFFF;
}

/* .content__details */
.content__details {
  width: 100%;
}

.details {
  height: 534px;
}

/* .visually-hidden */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
